{% extends 'base.html.twig' %} {% block title %}Book index{% endblock %} {%
block body %}
<div class="position table-responsive position-relative">
<h1 class="text-center">Book index</h1>
  <table class="table table-bordered align-middle">
    <thead class="table-light">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publishingYear }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.description }}</td>
        <td>
          <div class="d-flex gap-1">
            <a
              class="btn btn-success btn-sm"
              href="{{ path('book_edit', { id: book.id }) }}"
              >Edit</a
            >
            <!-- Start of the form for delete button -->
            <form
              action="{{ path('book_delete', { id: book.id }) }}"
              method="post"
              onsubmit="return confirm('Are you sure?');"
            >
              <input
                type="hidden"
                name="_token"
                value="{{ csrf_token('delete' ~ book.id) }}"
              />
              <input type="hidden" name="_method" value="DELETE" />
              <button class="btn btn-danger btn-sm" type="submit">
                Delete
              </button>
            </form>
            <!-- End of the form for delete button -->
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="position-a" href="{{ path('book_new') }}">Create new</a>
</div>

{% endblock %}
